asgiref
Django
gunicorn
psycopg2-binary
typing_extensions
black
certifi
charset-normalizer
click
colorama
coverage
coveralls
Django
docopt
flake8
idna
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pycodestyle
pyflakes
pytz
requests
setuptools
sqlparse
urllib3

